@import url('https://fonts.googleapis.com/css?family=Limelight');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,600');
@import url('https://fonts.googleapis.com/css?family=Bungee+Inline');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Trirong:200,300,400,500');


/*
General Styling
*/
body {
    font-family: "josefin sans", arial, sans-serif;
    font-weight: 600;
    background-color: #ffffff;
    margin:0;
}

a, a:visited {
    text-decoration: none;
    color: #000202;
    
}
a:hover {
    color: #7cbae8;
    text-decoration: underline
}

.general {
    background-color: #ffffff;
    padding: 20px 30px 20px 30px;
}

.main-nav {
    margin: auto;
    max-width: 1250px;
    text-align:right;
}

.nav-link {
    box-sizing: border-box;
    color: #ffffff;
    text-decoration: none;
    font-size: 19px;
    font-family: "josefin sans";
    display: inline-block;
    border-radius: 40px;
    margin: 13px 125px 6px 125px;
    margin-right: -5px;
    transition: all 0.2s ease;
}

/*
Hero
*/
#home.hero {
    background-image: url("images/bridge.jpg");
}
#direction.hero {
    background-image: url("images/town.jpg");
}
#experiences.hero {
    background-image: url("images/restaurtant.jpg");
}
#community.hero {
    background-image: url("images/roof.jpg");
}
.hero {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    overflow: auto;
}
.hero-card {
    background-color: rgba(0,0,0,0);
    padding: 0px;
    margin: 300px auto 300px auto;
    max-width: 960px;
    text-align:left;
}
.hero-card-title {
    color: white;
    font-family: "limelight",arial, sans-serif;
    font-size: 115px;
    text-decoration: none;
    margin-left: -140px;
    letter-spacing: 2px

}
.hero-card-link {
    text-decoration:none;
    color: white;
    font-size: 20px;
    border: 2px solid white;
    border-radius: 4px;
    padding: 5px 20px;
    display: inline-block;
    transition: all 0.2s ease;
    margin-left: -140px
}
a:visited: {
    text-decoration: none;
    color: white;
}
a:hover {
    color: #7cbae8;
}

#logo {
    float: left;
    margin-right:100px;
    width:0;
    height:0;
    color: rgba(255,255,255,0);
    padding: 35px 100px 0 0;
    margin-left: 0px;
    margin-top:7px;
    background-image: url(images/logo.png);
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 3px;
    transition: all 0.2s ease;
}
#logo:hover {
    background-color: #c9ffe5;
}



/*
Main Content
*/
#background.main-content {
    background-image: url("images/background.jpg");
    margin-top: 0px;
    background-size: cover;
}
.main-content {
    margin-top: 0px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    overflow: auto;
}

h2{
    margin-left: 220px;
    padding-top: 40px;
    border-radius: 4px;
    margin-top: -40px;
    color: #000202;
    font-family: "ubuntu";
    font-size: 32px;
    font-weight: 700;
    overflow: auto;
}
.content {
    margin-right: 20px;
    text-align: left;
    padding-right: 20px;
    margin-top: 30px;
}
.content-background {
    background-color: #ffffff;
    width: 900px;
    margin-left: 400px;
    margin-bottom: 20px;
    margin-right: 500px;
    box-shadow: 5px 5px 5px #888888;
}
.title {
    font-family: "ubuntu";
    font-size: 22pt;
    color: #000202;
    margin-left: 30px;
    font-weight: 700;
}
.details {
    font-family: "trirong";
    font-size: 16pt;
    color: #000202;
    font-weight: 500;
    margin-left: 30px;
    margin-top: -20px;
}


/*
Experiences
*/
#empty-background.main-text {
    background-image: url("images/empty-background.jpg");
    margin-top: -30px;
    background-size: cover;
    padding-top: 20px;
}
.main-text {
    text-align: left;
}
.text {
    background-color: #ffffff;
    width: 1000px;
    height: 287px;
    margin-top:30px;
    margin-left: 220px;
    box-shadow: 5px 5px 5px #888888;
}
.name {
    font-family: "ubuntu";
    font-size: 22pt;
    color: #000202;
    margin-left: 420px;
    margin-top: -270px;
    font-weight: 700;
}
.introduction {
    font-family: "trirong";
    font-size: 16pt;
    color: #000202;
    font-weight: 500;
    margin-left: 420px;
    margin-top: -15px;
    margin-bottom: auto;
}



/*
Community
*/
#empty-background2.main-contect {
    background-image: url("images/empty-background2.jpg");
    margin-top: -30px;
    background-size: cover;
    padding-top: 20px;
}

.textarea1 {
    width: 300px;
    height: 50px;
    padding: 12px 20px;
    margin-left: 350px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    color: #a8a8a8;
    font-size: 16px;
    resize: none;
    box-shadow: 5px 5px 5px #888888;
}

.textarea2 {
    width: 380px;
    height: 50px;
    padding: 12px 20px;
    margin-left: 700px;
    margin-top: -65px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    color: #a8a8a8;
    font-size: 16px;
    resize: none;
    box-shadow: 5px 5px 5px #888888;
}

.textarea3 {
    width: 730px;
    height: 200px;
    padding: 12px 20px;
    margin-left: 350px;
    margin-bottom: 200px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    color: #a8a8a8;
    font-size: 16px;
    resize: none;
    box-shadow: 5px 5px 5px #888888;
}
h4 {
    font-family: "ubuntu";
    font-size: 24pt;
    color: #000202;
    margin-left: 350px;
    margin-top: 50px;
    font-weight: 700;
}
.send {
    font-size: 16pt;
    width: 43px;
    margin-left: 990px;
    margin-top: -180px;
    box-shadow: 5px 5px 5px #888888;
}
.send:link {
    background-color: #ffffff;
    color: #000202;
    border: 2px solid #ccc;
    border-radius: 4px;
    padding: 5px 20px;
    display: inline-block;
    transition: all 0.2s ease;
}

.send:visited {
    background-color: #7cbae8;
    color: #ffffff;
    
}

.send:hover {
    background-color: #7ab560;
}

a:hover {
    background-color: #c9ffe5;
}



#twitter {
    margin-left:590px;
    padding: 25px 25px;
    margin-top: -100px;
    background-image: url(images/twitter.png);
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 3px;
    transition: all 0.2s ease;
    float: left;
}
#twitter:hover {
    background-color: #c9ffe5;
}

#ins {
    padding: 25px 25px;
    margin-top: -100px;
    float: left;
    margin-left: 670px;
    background-image: url(images/ins.png);
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 3px;
    transition: all 0.2s ease;
}
#ins:hover {
    background-color: #c9ffe5;
}

#facebook {
    padding: 25px 25px;
    margin-left: 750px;
    margin-top: -100px;
    background-image: url(images/facebook.png);
    background-position: center;
    background-repeat: no-repeat;
    float: left;
    border-radius: 3px;
    transition: all 0.2s ease;
}
#facebook:hover {
    background-color: #c9ffe5;
}